.form-control.ng-dirty.ng-invalid ~ span.error { color:red; display:inline; }

.done {
    text-decoration: line-through;
}

.overlay {
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0px;
    right: 0px;
    opacity: 100;

}

.task:hover {
    background: #E0FFE0;
}

.edit-task-buttons {
    top: 100%;
    transform: translateY(-100%);
}

.all-width {
    width: 100%;
}