<div class="row">
    <form name="addTaskForm" class="form-horizontal">
        <div class="form-group"
             ng-class="{'has-error': addTaskForm.description.$invalid && addTaskForm.description.$dirty}">
            <label for="description" class="col-sm-2 control-label">Description</label>

            <div class="col-sm-10">
                <textarea id="description" class="form-control col-sm-10" ng-model="description"
                          name="description"
                          rows="3" placeholder="Enter description" ng-required="true"></textarea>
                <span class="error" ng-show="addTaskForm.description.$invalid && addTaskForm.description.$dirty">Please enter task description</span>
            </div>
        </div>
        <div class="form-group">
            <label for="assignedTo" class="col-sm-2 control-label">Assigned to</label>

            <div class="col-sm-10"><input id="assignedTo" class="form-control" name="assignedTo"
                                          type="text" ng-model="assignedTo"></div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10"><input type="submit" class="btn btn-success"
                                                          value="Add Task" ng-disabled="addTaskForm.$invalid"
                                                          ng-click="addTask(); addTaskForm.$setPristine();"></div>
        </div>
    </form>
</div>
