<div class="row">
    <ul class="taskList list-group">
        <li class="task list-group-item" ng-repeat="task in tasks()" ng-mouseenter="mouseIn = true"
            ng-mouseleave="mouseIn = false" ng-class="{disabled: task.isDone}">
            <div ng-class="{done: task.isDone}" ng-show="!editMode">
                <div class="" ng-click="editMode = true">{{task.description}}</div>
                <small>{{format(task.date)}}</small>
                <br>
                <small>Assignee: {{task.assignedTo}}</small>
                <br>
                <small>Author: {{task.author}}</small>
            </div>
            <div ng-show="editMode">
                <form name="editTaskForm">
                    <textarea ng-model="task.description" ng-required="true" class="all-width"></textarea>
                    <input type="submit" class="btn btn-default" value="Save"
                           ng-disabled="editTaskForm.newDescription.$invalid"
                           ng-click="editTask(task)">
                    <input type="button" class="btn btn-default" value="Cancel" ng-click="editMode = false">
                </form>
            </div>
            <div class="overlay">
                <div class="btn-group pull-right edit-task-buttons">
                    <input type="button" class="btn btn-danger" value="Delete" ng-show="mouseIn"
                           ng-click="deleteTask(task.id)">
                    <input type="button" class="btn btn-success" value="Done" ng-show="mouseIn" ng-if="!task.isDone"
                           ng-click="complete(task.id)">
                    <input type="button" class="btn btn-success" value="Reopen" ng-show="mouseIn" ng-if="task.isDone"
                           ng-click="reopen(task.id)">
                </div>
            </div>
        </li>
    </ul>
</div>