<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div>
            <ul class="nav navbar-nav">
                <li ui-sref-active="active"><a ui-sref="tasks.to-me">Assigned to me</a></li>
                <li ui-sref-active="active"><a ui-sref="tasks.by-me">Assigned by me</a></li>
            </ul>
        </div>
    </div>
</nav>
<div ui-view></div>